*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    outline: none;
    user-select: none;
}

/*---------------------------------------
PADRÕES
---------------------------------------*/
.design{
    border-radius: .5em;
    background-color: #282831;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
    border: none;
    color: #ffffff;
}

/*---------------------------------------
BODY
---------------------------------------*/
body{
    width: 100vw;
    min-height: 100vh;
    padding: 1em;
    background-color: #181822;
    overflow-x: hidden;
}

/*---------------------------------------
TABELA
---------------------------------------*/
table{
    width: 100%;
    margin: 7em 0 3em;
    border-collapse: collapse;
    overflow: hidden;
}

/*---------------------------------------
TÍTULOS
---------------------------------------*/
table tr th{
    border-bottom: 1px solid transparent;
}

table #numMais1 th{color: #00eaff;}
table #numMedio1 th{color: #ffcc00;}
table #numMenos1 th{color: #ff545c;}

/*---------------------------------------
NÚMEROS SORTEADOS - ÁREA
---------------------------------------*/
td{
    text-align: center;
    border: 1px solid transparent;
    border-right: none;
    padding: .4em;
}

/*---------------------------------------
NÚMEROS SORTEADOS -  VALORES
---------------------------------------*/
table tr td h1{
    font-size: 1.7em;
}

table tr td p{
    font-size: .9em;
    opacity: 60%;
}

/*---------------------------------------
SEÇÃO DO BOTÃO
---------------------------------------*/
section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------------------
BOTÃO
---------------------------------------*/
button{
    padding: .8em 1.6em;
    cursor: pointer;
}

button:hover{
    background-color: #3b3b4c;
}

button:focus{
    background-color: #323258;
}

button.btnUsado{
    display: none;
}